# ignore all the files and folder from the 
Meta/
Test/
Train/
*.csv

# ignore folders created by the scripts
annotations*
images*
labels*
test_xmls/
train_xmls/
__pycache__/

# ignore Mac config files
.DS_Store